{% load static %}
{% load base_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    This is home.html
</div>
{% for article in articles %}
<img src="{{ article.thumbnail.url }}" alt="">
<!--<h1><a href="/article/{{ article.slug }}/">title: {{ article.title }}</a></h1>-->
<h1><a href="{% url 'blog:detail' article.slug %}">title: {{ article.title }}</a></h1>
<p>
    description: {{ article.description }}
</p>
{% endfor %}
</body>
</html>